{% extends "uweflixApp/base.html" %}
{% block title %}
Club List
{% endblock %}

{% block content %}
    <h2>Clubs</h2>

    {% if club_list %}
        <table class="message_list">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Card Num</th>
                <th>Exp Date</th>
                <th>Discount</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for club in club_list %}
                <tr>
                    <td>{{ club.clubID }}</td>
                    <td> {{ club.clubName }} </td>
                    <td> {{ club.cardNum }} </td>
                    <td> {{ club.expDate }} </td>
                    <td> {{ club.discountRate }} </td>
                    <td><a href="{% url 'updateClub' club.clubID %}">Update</a></td>
                    <td><a href="{% url 'deleteClub' club.clubID %}">Delete</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No clubs have been made. Use the <a href="{% url 'CreateClub' %}">Create Club form</a>.</p>
    {% endif %}
{% endblock %}